@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: var(--font-iransans), var(--font-roboto), sans-serif;
  height: 100dvh;
  min-height: -webkit-fill-available;
}

/* Import our scroll-snap styles */
@import "./scroll-snap.css";